.page {
  width: 751;
  height: 2471;
}
.box {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f0f0f0;
  width: 750;
  height: 2471;
}
