.block_3 {
  display: flex;
  position: absolute;
  top: 221;
  align-items: center;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  width: 750;
  height: 280;
}
.normal_div_1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  width: 750;
  height: 280;
}
.bgWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 714;
  height: 280;
}
.bg {
  position: relative;
  width: 714;
  height: 280;
}
.block_4 {
  display: flex;
  position: absolute;
  right: 301;
  bottom: 17;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 111;
  height: 16;
}
.color_1 {
  margin-right: 9;
  border-radius: 14;
  background-color: #ff0031;
  width: 14;
  height: 14;
}
.color_2 {
  margin-right: 8;
  border-width: 1px;
  border-style: solid;
  border-radius: 14;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  width: 16;
  height: 16;
}
.color_3 {
  margin-right: 8;
  border-width: 1px;
  border-style: solid;
  border-radius: 14;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  width: 16;
  height: 16;
}
